li.list-inline-item
  = link_to story_path(story), class: 'story-row__comments-count u-url' do
    i.fe.fe-message-circle
    | #{story.comments_count}
    span comments

li.list-inline-item
  = link_to story_path(story) do
    | posted

    time.ml--xxs.dt-published(
      data-controller="time-ago"
      data-datetime=story.created_at.iso8601
      datetime=story.created_at.iso8601
    )
      = story.created_at

- if story.modified_count.positive?
  li
    span.text--warning(title="Last edited at #{story.modified_at}")
      i.fe.fe-edit.mr--xxs
      = story.modified_count

- if presenter.more_actions?
  li(data-controller="dropdown" data-dropdown-placement="bottom-end")
    a(
      href="javascript:void(0);"
      data-turbolinks="false"
      data-target="dropdown.toggle"
      data-action="click->dropdown#toggle click@window->dropdown#hide"
    )
      | more

    ul.dropdown(data-target="dropdown.dropdown" data-dropdown-placement="bottom-end")
      - if policy(story).edit?
        li.dropdown__item
          = link_to 'Edit', edit_story_path(story)

      - if policy(story).scrap?
        li.dropdown__item
          a(
            href="#"
            data-action="click->story#scrap"
            data-action-path=scrap_api_ujs_story_path(story)
          ) Scrap again

      - if policy(Flag).create?
        li.dropdown__item
          a(
            href=new_story_flag_path(story)
          ) Flag

      - if policy(story).destroy?
        li.dropdown__divider
        li.dropdown__item
          a(
            href="javascript:void(0)"
            data-action="click->story#delete"
            data-action-path=delete_api_ujs_story_path(story)
          ) Delete
