= render 'search/head'

.box
  .box__body
    - if params[:q].blank?
      .empty
        .empty__icon
          | &times;
        p.empty__title = t('nothing_to_show')
        p.empty__subtitle = t('search.generic.please_provide_query')

    - elsif @posts.empty?
      .empty
        .empty__icon
          | &times;
        p.empty__title = t('nothing_to_show')
        p.empty__subtitle = t('search.generic.no_results_found')

    - else
      = render 'stories/list', stories: @posts

= paginate @posts, theme: :mini_box
