.box
  .box__body.p-4
    h1.page-title = t('.accounts')

    table.table
      thead
        th = t('.username')
        th = t('.domain')
        th
        th
        th

      tbody
        - @accounts.each do |acc, account = acc.decorate|
          tr
            - if account.suspended?
              td.text--strike.text--danger = account.username
            - elsif account.silenced?
              td.text--strike = account.username
            - else
              td = account.username

            td = account.domain
            td = link_to t('.network'), account.network_url
            td = link_to t('.public'), account.url
            td.text-right
              = link_to t('.edit'), admin_account_path(account), class: 'btn btn--sm btn-outline--secondary'

    = paginate @accounts
