- presenter_opts = local_assigns.merge(liked_ids: @account_liked_comment_ids, current_user: current_user)
- presenter = CommentPresenter.new(comment, presenter_opts)
- account = presenter.account&.decorate

li.comment.h-entry(
  data-controller="comment"
  data-id=comment.id
  data-parent-id=comment.parent_id
  class=presenter.root_classes
  data-liked=presenter.liked?.to_s
)
  .comment__inner
    ul.comment__meta(data-action="click->comment#topMetaClicked" data-target="comment.topMeta")
      li.comment__author.no-dot
        .media
          = image_tag account.avatar_url(:size_60), class: 'avatar avatar--xs'
          .media__body
            = presenter.linked_account_username

            - if presenter.op?
              span.label.label--primary.ml--xxs(title=t('.op_title'))
                = t('.op')

      li.comment__time.truncate
        = link_to comment, class: 'u-url truncate' do
          time.dt-published(data-controller="time-ago" data-datetime=comment.created_at.iso8601 datetime=comment.created_at.iso8601)
            = comment.created_at

      - if presenter.show_story?
        li.truncate
          = raw t('.on_story', link: link_to(presenter.story.title, presenter.story))

    / Comment body
    .comment__body.text-component.text-component--sm.e-content(data-target="comment.bodyContainer")
      == presenter.body_html

    / Bottom meta
    ul.comment__meta(data-target="comment.actionsContainer")
      li.comment__votes.no-dot
        - if presenter.can_like?
          a.comment__votes-btn(
            data-action="click->comment#toggleLike"
            data-target="comment.likeBtn"
            data-action-path=toggle_like_api_ujs_comment_path(comment)
          )
            = presenter.like_button_label

        - else
          .comment__votes-btn = presenter.like_button_label

      - if presenter.has_child_comments?
        li.no-dot
            | /

        li.comment__replies
          = t('.comment_replies', comment: (comment.children_count))


      - if presenter.show_parent_link?
        li
          = link_to t('.parent'), comment_path(id: comment.parent_id), class: 'u-in-reply-to'

      - if presenter.show_reply_link?
        li
          a.comment__reply-btn(data-action="comment#showReply") reply

      - if presenter.show_edit?
        li
          a.comment__edit-btn(data-action="comment#showEdit") edit

      - if presenter.show_delete?
        li
          a.comment__delete-btn(
            data-action="comment#delete"
            data-action-path=api_ujs_comment_path(comment)
          ) = t('.delete')

      - if policy(Flag).create?
        li
          a(
            href=new_comment_flag_path(comment)
          ) flag

      - if comment.modified_count.positive?
        li.text--warning
          span(title="Last edited at #{comment.modified_at}")
            i.fe.fe-edit.mr-1
            = comment.modified_count

  / Edit form
  .comment__edit-container(
    data-target="comment.editContainer"
    data-action-path=edit_api_ujs_comment_path(comment)
  )

  / Reply form
  .comment__reply-container(
    data-target="comment.replyContainer"
    data-action-path=new_api_ujs_comment_path(story_id: comment.story_id, parent_id: comment.id)
  )

  / Child comments
  ul.comment__children
    - if presenter.show_children?
      - children.each do |comment, children|
        = render 'comments/comment', comment: comment, children: children, show_children: true
