- body_placeholder = user_signed_in? ? 'Write your comment here...' : 'You need to be signed-in to write comments.'
- url = comment.is_a?(Comments::Create) ? api_ujs_comments_path : api_ujs_comment_path(comment.comment)
- controller_mode = comment.is_a?(Comments::Create) ? 'create' : 'update'

= simple_form_for comment, as: :comment, url: url, remote: true, wrapper: :spectre_vertical_form,
                           html: { data: { controller: 'new-comment', 'parent-id': @comment.try(:parent_id), mode: controller_mode } } do |f|

  - if comment.is_a?(Comments::Create)
    = f.input :story_id, as: :hidden
    = f.input :parent_id, as: :hidden

  - if user_signed_in?
    - if current_account.silenced?
      .empty.p-2
        p.empty__subtitle
          = t('.you_can_t_post')

    - else
      .form-group
        = render 'shared/markdown_editor', form: f,
                                           name: :body,
                                           placeholder: t('.write_your_comment'),
                                           additional_input_targets: ['new-comment.body'],
                                           additional_preview_classes: ['text-comment']

      .form-group
        = f.submit class: 'btn btn--primary btn--sm'

        - if comment.is_a?(Comments::Update)
          button.btn.btn-link.btn-sm.ml-1(
            data-action="click->comment#cancelEdit"
          ) = t('.cancel')

  - else
    .empty.p-2
      p.empty__subtitle
        = t('.need_to_be_signed_in_html', href: new_user_session_path)
