- set_meta_tags @comment.decorate

.box.mt--sm
  .bb
    = render @comment.story

.box
  .box__body.p--md
    p.mb--sm
      = t('.that_s_only_a')

    p
      a.btn.btn--sm.btn-outline--secondary(href=@comment.story.decorate.path)
        = t('.see_all_the_comments')

      - if @comment.parent_id.present?
        a.btn.btn--sm.btn-outline--secondary.ml--sm(href=comment_path(@comment.parent_id))
          = t('.see_parent_comment')

.box(data-controller="comments-tree")
  .box__body.p--md
    ul.comment-children
      = render 'comments/comment', comment: @comment,
                                   children: @children,
                                   show_children: true
