.form-control {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.form-control--md {
  font-size: var(--text-md);
}

.form-label {
  font-size: var(--text-base-size);
  margin-bottom: var(--space-xs);
  font-weight: 600;
}

.form-group {
  margin-bottom: var(--space-sm);
}

.form-hint {
  margin-top: var(--space-xxs);
  color: var(--color-contrast-medium);
  font-size: var(--text-sm);
}

.input-group {
  display: flex;

  .form-control:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }

  &__btn, &__addon {
    &:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__addon {
    background: var(--color-contrast-lower);
    padding: var(--space-xs) var(--space-sm);
    border: 1px solid hsl(220, 9%, 90%);
    line-height: 1;
  }
}
