:root {
  --main-header-height: 50px;
  --main-header-height-md: 70px;
}

.main-header {
  position: relative;
  background-color: var(--color-main-header-bg);
  padding: var(--space-xs) var(--space-sm);

  .jumpbox {
    flex: 1;
  }
}

.main-header__layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header__logo {
  font-size: calc(var(--text-md) * 1.1);
  margin-right: var(--space-sm);

  a {
    display: block;
    color: var(--color-main-header);
    text-decoration: none;
  }
}

.main-header__nav {
  float: right;
  display: block;
  width: auto;
}

.main-header__nav-list {
  display: flex;
}

.main-header__nav-item > a {
  height: 35px;
  line-height: 35px;
  display: inline-block;
  padding: 0 var(--space-xs);
  color: var(--color-main-header);
  text-decoration: none;

  .fe {
    font-weight: 600;
    font-size: calc(var(--text-base-size) * 1.1);
    line-height: 35px;
  }
}

// profile

.main-header__profile > a {
  display: inline-block;
  margin-left: var(--space-xs);
}

// jumpbox

.jumpbox__toggle {
  // border: 1px solid var(--color-contrast-medium);
  border: 1px solid var(--color-jumpbox-border);
  // background: var(--color-contrast-low);
  background: var(--color-jumpbox-bg);
  display: inline-block;
  padding: var(--space-xxs) var(--space-xs);
  // color: rgba(#fff, 0.6);
  color: var(--color-jumpbox);
  text-decoration: none;
  border-radius: var(--border-radius-sm);
  width: 170px;

  &:hover {
    text-decoration: none;
  }
}

// notifications
.main-header__notifications {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-70%, 70%) !important;
    background: var(--color-error) !important;
  }
}

@include breakpoint(xs) {
  padding-left: 0;
  padding-right: 0;
}
