- presenter_opts = { liked_ids: @account_liked_story_ids, current_user: current_user }
- presenter = StoryPresenter.new(story, presenter_opts)
- account = presenter.account

.story-row.h-entry(data-controller="story" data-liked=presenter.liked?.to_s class=presenter.root_classes)
  .story-row__layout
    .story-row__score
      a.story-row__score-btn(
        data-action="click->story#toggleLike"
        data-target="story.likeBtn"
        data-action-path=toggle_like_api_ujs_story_path(story)
      )
        span.story-row__likes-count
          = story.likes_count

    .story-row__thumb(class=presenter.thumb_classes)
      a(style=presenter.thumb_styles
        href=story_path(story))

    .story-row__body
      h3.story-row__title
        - if story.url.present?
          = link_to presenter.story.title, presenter.story.url, target: '_blank', class: 'p-name u-repost-of'
        - else
          = link_to presenter.story.title, story_path(story), class: 'p-name u-repost-of'

      ul.story-row__meta
        = render 'stories/_story/meta_primary', presenter: presenter,
                                                story: story,
                                                account: account

      - if presenter.excerpt.present?
        .text-component.story-row__excerpt
          p.p-summary
            = presenter.excerpt

      ul.story-row__meta
        = render 'stories/_story/meta_secondary', presenter: presenter,
                                                  story: story
