- set_meta_tags @story.decorate

== StoryPreviewPresenter.new(@story).render

.box.mt--sm
  .bb
    = render @story

  - if @story.description.present?
    .box__body.p--md
      .text-component
        == @story.decorate.description_html

.box(data-controller="comments-tree")
  .box__body.p--md
    .root-comment-form
      = render template: 'comments/new', comment: @comment

    ul.comment-children(data-target="comments-tree.rootComments")
      - @comments.each do |comment, children|
        = render 'comments/comment', comment: comment, children: children, show_children: true
