.box.--touches-header
  .box__body
    .grid
      .col
        h2.page-title.m--0
          = @tag.to_s

      .col.text--right
        = render 'tags/follow_btn', presenter: FollowTagButtonPresenter.new(current_account, @tag)
