.box
  .box__body.p-4
    h1.page-title Flags

    table.table.mb-2
      thead
        th Author
        th Object
        th Resolved?
        th When
        th

      tbody
        - @flags.each do |f, flag = f.decorate, flaggable = f.flaggable.decorate, actor = flag.actor.decorate|
          tr(data-cap="flag")
            td = link_to actor, actor.path
            td = link_to flaggable.to_flag_title.truncate(20), flag.flaggable.decorate.path
            td
              - if flag.action_taken?
                span.label.label--success = flag.action_taken?
              - else
                span.label.label--danger = flag.action_taken?

            td
              time(
                data-controller="time-ago"
                data-datetime=flag.created_at.iso8601
                datetime=flag.created_at.iso8601
              ) = flag.created_at
            td.text-right
              = link_to 'More', admin_flag_path(flag), class: 'btn btn--sm btn-outline--secondary'

    = paginate @flags
