.box.--touches-header.account-head.mb--3.h-card
  .box__body.p--md
    .grid
      .col
        .media.items--center.mb--md
          = image_tag @account.avatar_url(:size_60), class: "u-photo avatar avatar--xl mr--xs"

          .media__body
            h1.p-name.text--lg.fw--600.mb--xxxxs
              = @account.display_name

            = link_to @account, @account.path, class: "text--subtle u-url p-nickname no-underline"

        .account-head-actions
          - if current_account == @account
            a.btn.btn-outline--secondary.btn--sm.btn-edit-profile(href=settings_profile_path)
              i.fe.fe-edit.mr--xs
              = t('.edit_your_profile')

          - else
            = render 'shared/follow_btn', presenter: FollowButtonPresenter.new(current_account, @account)

      .col
        ul.counter
          li.counter__item(title="#{@account.posts_karma} stories / #{@account.comments_karma} comments")
            span.counter__item-major
              = @account.posts_karma + @account.comments_karma
            span.counter__item-minor = t('.karma')
          li.counter__item
            span.counter__item-major = @account.followers_count
            span.counter__item-minor = t('.followers')
          li.counter__item
            span.counter__item-major = @account.following_count
            span.counter__item-minor = t('.following')

        hr

        .text-component.text-component--sm.p-note
          = @account.bio_html

  .box__nav.text--base
    ul.tab.tab--block.p--0
      li.tab__item
        = active_link_to account_path, active: [['accounts/stories']] do
          = t('.stories')
          span.label.label--rounded
            = @account.stories_count

      li.tab__item
        = active_link_to account_comments_root_path, active: [['accounts/comments']] do
          = t('.comments')
          span.label.label--rounded
            = @account.comments_count
